#!/bin/bash

# ....
# .... DON'T FORGET !!!!
# ....
# mv security.templ security.sh
# ....

# ..
export ADMIN_POSTGRES_USER=
export ADMIN_POSTGRES_PASSWORD=
# ..
export MAIN_POSTGRES_USER=
export MAIN_POSTGRES_PASSWORD=
# ..
export BACKER_SECRET_KEY=